@charset "UTF-8";
@import "reset";
@import "preloader";
@import "fonts";
@import "icons";
$t: #333333;
$th: #f5aec0;

@mixin anim{ 
  transition: all .4s ease-out;
  // transition: all .4s ease-in;
}
@mixin anim-linear{ 
  transition: all .5s linear;
}
b,strong {font-weight: normal;font-family: 'ClearSans-Medium',sans-serif;}
.mark-txt {
  color: #71b1a5;
}
@mixin fdecor {font-family: 'tt_limes_slab_regular',sans-serif;}
@mixin fm {font-family: 'ClearSans-Medium',sans-serif;}
@mixin fr {font-family: 'ClearSans-Regular',sans-serif;}
@mixin fl {font-family: 'ClearSans-Light',sans-serif;}
@mixin fi {font-family: 'ClearSans-Italic',sans-serif;}
*,*:after,*:before {
  box-sizing:border-box !important;
}
.clearfix:before,.container:before,
.clearfix:after,.container:after {
  display: table;
  content: " ";
}
.clearfix:after,.container:after {
  clear: both;
}
.desktop ::-webkit-scrollbar { width: 5px; }
.desktop ::-webkit-scrollbar:horizontal { height: 5px; }
.desktop ::-webkit-scrollbar-thumb { width: 5px; border-color: #fff; background-color: #f5aec0;}
.desktop ::-webkit-scrollbar-thumb:hover { border-width: 1px 1px 1px 2px; border-color: #f5aec0; background-color: #f5aec0; }
.desktop ::-webkit-scrollbar-track { border-width: 0; }
.desktop ::-webkit-scrollbar-track-piece { background: #fff; }
body {max-width: 100%;}
body.noscroll {overflow: hidden;}
section {overflow: hidden;}
.wrapper{
  min-height: 100%;
  position: relative;
  max-width: 100%;
}
.container {
  width: 1560px;
  max-width: 100%;
  padding: 0 15px;
}
.row {margin-bottom: 0;}
.container .row {margin: 0 -15px;}
.row .col {padding: 0 15px;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.tt-upp { text-transform: uppercase;}
.mobile{
  *:not(.swiper-wrapper),*:before ,*:after{
    transition: none !important;
  }
  .animated {
    animation:none !important;
    visibility: visible !important;
    transform:none !important;
    opacity: 1 !important; 
  }
}
h1, h2, h3, h4, h5 {
  display: block;
  margin-bottom: 20px;
  @include fm }

h1 {
  font-size: 40px;
  line-height: 48px; }

h2 {
  font-size: 35px;
  line-height: 42px; }

h3 {
  font-size: 30px;
  line-height: 37px; }

h4 {
  font-size: 26px;
  line-height: 32px; }

h5 {
  font-size: 22px;
  line-height: 28px; }
.content p {
  margin-bottom: 20px; }
.content ul li, .list-box li {
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
  font-size: 24px;
  line-height: 30px; }
  .content ul li:before, .list-box li:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    //transform: translateY(-50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #f5aec0;
     }
.content ol, .list-number-box {
  list-style-position: inside;
  }
  .content ol li, .list-number-box li {
    margin-bottom: 15px;
    color: #f5aec0; }
    .content ol li span, .list-number-box li span {
      padding-left: 10px;
      color: #333333;
      @include fl; }
[type=radio].with-gap:checked + label:after, [type=radio]:checked + label:after {
  background-color: #f5aec0; }

[type=radio].with-gap:checked + label:after, [type=radio].with-gap:checked + label:before, [type=radio]:checked + label:after {
  border-color: #f5aec0; }

[type=checkbox]:checked + label:before {
  border-right: 2px solid #f5aec0;
  border-bottom: 2px solid #f5aec0; }

[type=checkbox].filled-in:checked + label:after {
  border: 2px solid #f5aec0;
  background-color: #f5aec0; }

//----------------- header ------------------------------//
.header {
  padding: 25px 0;
  background: #fff;
}
.logo {
  width: 257px;
  a {display: block;}
}
.btn {
  height: 61px;
  line-height: 58px;
  background:#f3a3b7;
  border-radius: 5px;
  border:none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: none;
  box-shadow: none !important;
  &:hover,&:focus {
    color: #fff;
    background:#ff8ca8;
  }
}
//--------------------- banner ----------------//
.banner {
  position: relative;
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
.banner-img {width: 100%;}
.banner-caption {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 15px;
  transform:translateY(-50%);
  font-size: 30px;
  line-height: 36px;
}
.banner-caption__head {
  display: block;
  margin-bottom: 60px;
  font-size: 67px;
  line-height: 70px;
  color: #7b7b7b;
  @include fr;

}
.rw-words.rw-words-1 {opacity: 0;transition:all 0.8s linear;}
.banner-caption__bottom,.banner-caption__head {
  opacity: 0;
  transform:translateY(-20px);
  transition:all 0.8s linear;
}
.banner-caption__head {
  transition-delay:1s;
}
.banner-caption__bottom {
  transition-delay:1.2s;
}
.rw-words.rw-words-1 {
  transition-delay:1.4s;
}
.loaded {
  .banner-caption__bottom,.banner-caption__head,.rw-words.rw-words-1 {
    opacity: 1;
    transform:translateY(0);
  }
}
.rw-words.rw-words-1 {
  display: block;
  position: relative;
  margin-bottom: 30px;
  height: 84px;
  white-space: nowrap;
  span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 68px;
    font-size: 79px;
    line-height: 80px;
    color: $th;
    text-transform: uppercase;
    white-space: nowrap;
    @include fdecor;
    &:before,&:after {
      content: '';
      position: absolute;
      width: 45px;
      top: 50%;
      transform:translateY(-50%);
    }
    &:before {
      left: 0;
      height:62px;
      background:url(../images/tlt1.png) no-repeat;
    }
    &:after {
      right: 0;
      height: 65px;
      background:url(../images/tlt2.png) no-repeat;
    }
  }
}
.rw-words-1 span{
  position: absolute;
  opacity: 0;
  animation: rotateWord 9s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
  animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
  animation-delay: 6s; 
}
@keyframes rotateWord {
    0% { opacity: 0; }
    10% { opacity: 0; -webkit-transform: translateY(-30px); }
    15% { opacity: 1; -webkit-transform: translateY(0px);}
    30% { opacity: 1; -webkit-transform: translateY(0px); }
    35% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
// ------------ section1 -----------------//
.first-section {
  padding: 0px 0 115px;
  position: relative;
  background:#fff;
  overflow: visible;
}
.first-section-top {
  margin-bottom: 148px;
  margin-top: -30px;
  position: relative;
  padding: 32px 25px;
  z-index: 5;
  background:#fff;
  border-radius:7px;
  box-shadow:1px 1px 68px rgba(35,31,32,.11);
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  .mark-txt {
    text-transform: uppercase;
    @include fm;
  }
}
.first-section-bottom {
  position: relative;
  .right {
    padding-top: 35px;
  }
}
.first-section-slider {
  position: absolute;
  left: 0;
  transform:translateX(-20px);
  top: 0;
  width: 845px;
  height: 617px;
  padding: 34px 128px 74px 0;
  background:url(../images/mac-left.png) no-repeat;
  opacity: 0;
  transition:all 0.8s linear 0.4s;
  .swiper-slide {
    position: relative;
  }
}
.first-section,.second-section,.third-section,.fourth-section,.fifth-section {
  .heading, .subheading {
    opacity: 0;
    transform:translateY(20px);
    transition:all 0.8s linear;
  }
  .heading {
    transition-delay:0.5s;
  }
  .subheading {
    transition-delay:0.6s;
  }
  .list-box-with-icons li,.list-box li {
    opacity: 0;
    transition:all 0.8s linear;
    &:nth-of-type(1) {transition-delay:1s}
    &:nth-of-type(2) {transition-delay:1.1s}
    &:nth-of-type(3) {transition-delay:1.2s}
    &:nth-of-type(4) {transition-delay:1.3s}
    &:nth-of-type(5) {transition-delay:1.4s}
    &:nth-of-type(6) {transition-delay:1.5s}
    &:nth-of-type(7) {transition-delay:1.6s}
  }
  &.visible,.visible {
    .heading, .subheading {
      opacity: 1 !important;
      transform:translateY(0px) !important;
    }
    .list-box-with-icons li,.list-box li {
      opacity: 1 !important;
      transform:translateX(0px) !important;
    }
  }
}
.first-section {
  min-height: 700px;
  .list-box-with-icons li {transform:translateX(20px)}
  .visible {
    .first-section-slider {
      opacity: 1;
      transform:translateX(0);
    }
  }
}
.second-section {
  .ipad-box-right {
    opacity: 0;
    transform:translateX(20px);
    transition:all 0.8s linear 1.5s;
  }
  .list-box li {transform:translateX(-20px)}
  &.visible {
    .ipad-box-right {opacity: 1;transform:translateX(0px);}
  }
}
.first-section-slider__box {
  overflow: hidden;
}
.third-section {
  .ipad-box {
    opacity: 0;
    transform:scale(1.3);
    transition:all 0.8s linear 1.4s;
  }
  .iphone {
    opacity: 0;
    transition:all 0.8s linear 1.9s;
  }
  .chat-item {
    opacity: 0;
    transform:translateX(-20px);
    transition:all 0.8s linear 1s;
  }
  .chat-item.chat-item--answer {
    transform:translateX(20px);
    transition:all 0.8s linear 1.1s;
  }
  &.visible {
    .ipad-box {opacity: 1; transform:scale(1);}
    .iphone {opacity: 1;}
    .chat-item {opacity: 1;transform:translateX(0px);}
  }
}
.fourth-section {
  .list-box-with-icons li {transform:translateX(-20px)}
  .fourth-section-img-box {
    opacity: 0;
    transform:scale(1.3);
    transition:all 0.8s linear 1s;
  }
  &.visible {
    .fourth-section-img-box {opacity: 1;transform:scale(1);}
  }
}
// .feed-section {
//   .feed-heading, form {
//     opacity: 0;
//     transform:translateY(20px);
//     transition:all 1s linear;
//   }
//   .feed-heading {transition-delay:1s}
//   form {transition-delay:1.2s}
//   &.visible {
//     .feed-heading, form {
//       opacity: 1;
//       transform:translateY(0px);
//     }
//   }
// }
.fifth-section {
  .col {
    opacity: 0;
    transition:all 0.8s linear;
  }
  // .item-box__info {
  //   opacity: 0;
    
  //   transform:translateY(20px);
  //   transition:all 0.8s linear;
  // }
  .col:nth-of-type(1), .col:nth-of-type(2) {
    transform:translateX(-20px);
  }
  .col:nth-of-type(3), .col:nth-of-type(4) {
    transform:translateX(20px);
  }
  .col:nth-of-type(2) {transition-delay:1.3s;}
  .col:nth-of-type(1) {transition-delay:1.4s;}
  .col:nth-of-type(3) {transition-delay:1.5s;}
  .col:nth-of-type(4) {transition-delay:1.6s;}
  &.visible {
    .item-box__info {opacity: 1;transform:translateY(0px);}
    .col {opacity: 1;transform:translateX(0px);}
  }
}
.heading  {
  display: block;
  margin-bottom: 29px;
  font-size: 50px;
  line-height: 60px;
  color: #747273;
  text-transform: uppercase;
  @include fdecor;
}
.subheading {
  display: block;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 36px;
  color: #464646;
}
.list-box-with-icons {
  display: block;
  margin: 0;
  ul {
    display: block;
    li {
      margin-bottom: 15px;
      padding-left: 70px;
      position: relative;
      display: block;
      min-height: 36px;
      font-size: 24px;
      line-height: 36px;
      span {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        color: $th;
      }
    }
  }
}
// -------------- section2 ----------------------- //
.second-section {
  padding:55px 0;
  background: #eaf5f3;
  font-size: 0;
  line-height: 0;
  .col{
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
} 
.ipad-box-right {
  display: inline-block;
  position: relative;
  margin-right: 125px;
}
.ipad-box-button {
  position: absolute;
  bottom:63px;
  left: 34px;
  right: 33px;
  span {
    float: left;
    width: 33.333%;
    background:#becfcc;
    //cursor: pointer;
    padding: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    @include anim;
    animation: colorChange 3s linear infinite 0s;
    &:first-of-type {border-left: none;}
    &:nth-of-type(2) {border-left: none;animation-delay: 1s;}
    &:last-of-type {border-right: none;animation-delay: 2s;}
    &:hover {
      background:#f3a3b7;
    }
  }
}
@keyframes colorChange {
    0% {background:#becfcc;}
    33% {background:#f3a3b7;}
    66% {background:#becfcc;}
}
// ------------- section3 ----------------------//
.third-section {
  background:#fff;
  padding: 120px 0;
  position: relative;
  .heading {
    margin-top: 62px;
  }
}
.chat-box {
  display: block;
  margin-bottom: 70px;
}
.chat-item {
  display: block;
  margin-bottom: 20px;
  padding: 0 0 0 112px;
  position: relative;
}
.chat-item__avatar {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  @include fm;
  color: #747273;
  span {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  img {
    width: 80px;
    border-radius: 50%;
  }
}
.chat-item__txt {
  display: inline-block;
  position: relative;
  width: 318px;
  max-width: 100%;
  padding: 20px 25px;
  background:#eef7f5;
  border-radius:10px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  &:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #eef7f5 transparent transparent;
  }
}
.chat-item--answer {
  text-align: right;
  padding: 0 112px 0 0;
   .chat-item__avatar {
    left: auto;
    right: 0;
   }
  .chat-item__txt {
    background:#fdeff2;
    &:after {
      left: auto;
      right: -15px;
      border-style: solid;
      border-width: 15px 15px 0 0;
      border-color: #fdeff2 transparent transparent transparent;
    }
  }
}
.third-section-img-box {
  z-index: 10;
  position: absolute;
  left: 25px;
  top: 46%;
  transform:translateY(-50%);
  max-width: 50%;
  .iphone {
    position: absolute;
    right: -75px;
    top: 75px;
    backface-visibility: hidden;
  }
}
.share-box {
  //cursor: pointer;
  position: absolute;
  bottom: 90px;
  left: 35px;
  line-height: 10px;
  ul {
    position: absolute;
    left: 100%;
    top: 8px;
    white-space: nowrap;
    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 44px;
      font-size: 20px;
      color: #656361;
      background:rgba(255,255,255,0.7);
      visibility: hidden;
      opacity: 0;
      transform:translateX(-10px);
      @include anim;
      &:nth-of-type(1) {transition-delay:0.2s}
      &:nth-of-type(2) {transition-delay:0.3s}
      &:nth-of-type(3) {transition-delay:0.4s}
    }
  }
}
.share-box:hover ul li {
  visibility: visible;
  opacity: 1;
  transform:translateX(0px);
}
.share-box-butt {
  padding: 12px 5px 7px;
  border-radius: 7px;
  background:rgba(255,255,255,0.7);
  font-size: 10px;
  color: #656361;
  text-align: center;
  white-space: nowrap;
  .icon-5 {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
    color: #656361;
    text-align: center;
  }
}
.ipad-box {
  position: relative;
  span {
    position: absolute;
    top: 190px;
    border:1px solid #fddce4;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    animation: cssload-pulse 2.3s infinite;
    &:first-of-type {left: 131px;}
    &:nth-of-type(2) {left: 282px;animation-delay:0.4s}
    &:nth-of-type(3) {left: 433px;animation-delay:0.8s;}
  }
}
@keyframes cssload-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }
// ------------- section4 ----------------------//
.fourth-section {
  min-height: 610px;
  padding: 139px 0 0;
  position: relative;
  overflow: visible;
}
.fourth-section-img-box {
  max-width: 49%;
  position: absolute;
  right: 0;
  top: 9%;
  transform:translateY(-50%);
}
// ------------------ feed ----------------------//
.feed-section {
  margin-top: 153px;
  padding: 47px 0 21px 0;
  background:#f6bdcb;
  text-align: center;
  form {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
}
.feed-section .input-field:nth-of-type(2),.feed-section button {
  display: none;
}
.feed-section button {
  background:#f3a3b7;
  height: 45px;
  line-height: 43px;
  padding: 0 39px;
  font-size: 16px;
  &:hover {background:#ff8ca8;}
}
.input-field {
  margin: 0 0 30px;
  label {
    left:15px ;
    color: #888888;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  input,textarea {
    margin: 0;
    text-align: left;
    padding: 15px;
    border:none !important;
    background:#fff !important;
    border-radius: 7px !important;
    box-sizing:border-box !important;
    box-shadow: none !important;
  }
  textarea {min-height: 117px;}
}
.input-field label.active,input:not([type]):focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  opacity: 0;
  top: 0;
  transform:translateY(0%);
  color: #fff;
  font-size: 16px;
  transition: left 0.5s ease, opacity 0.5s ease;
}
.feed-heading {
  display: block;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  @include fr;
}
//-------------------------- section 5--------------------------//
.fifth-section {
  padding: 80px 0 75px;
  .heading {
    span {
      display: inline-block;
      padding: 0 50px;
      position: relative;
      &:before,&:after {
        content: '';
        position: absolute;
        bottom: 10px;
        width: 437px;
        height: 40px;
      }
      &:before {
        right: 100%;
        margin-right: 50px;
        background:url(../images/lenta1.png) no-repeat;
      }
      &:after {
        left: 100%;
        margin-left: 50px;
        background:url(../images/lenta2.png) no-repeat;
      }
    }
  }
  .subheading {
    margin-bottom: 60px;
  }
}
.item-box {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.item-box___img {
  width: 260px;
  height: 260px;
  margin:0 auto 15px;
  border-radius: 50%;
  overflow: hidden;
  .parallax-container {
    width: 260px;
    height: 260px;
  }
  .parallax {
    border-radius: 50%;
    overflow: hidden;
  }
  // img {
  //   max-width: none;
  //   max-height: none;
  // }
}
.item-box__info {
  font-size: 24px;
  line-height: 30px;
  span {
    display: block;
    min-height: 60px;
    margin-bottom: 26px;
    font-size: 28px;
    line-height: 30px;
    @include fr;
  }
}
.fifth-section__bottom {
  margin-top: 54px;
  @include fdecor;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}
//---------------------------------- section 6----------------------//
.sixth-section {
  padding: 60px 0 30px 0;
  background:#eaf5f3;
}
.white-box {
  margin-bottom: 30px;
  border-radius: 38px;
  background:#fff;
  box-shadow: 3px 4px 21px rgba(0,0,0,.03);
  position: relative;
  padding: 35px 130px;
  text-align: center;
}
.white-box__count {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  background:#eaf5f3;
  text-align: center;
  font-size: 30px;
  color: #959595;
  @include fdecor;
}
.white-box__heading {
  display: block;
  margin-bottom: 19px;
  font-size: 30px;
  line-height: 36px;
  @include fr;
}
.white-box__subheading {
  display: block;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 26px;
}
.white-box-body {
  form {
    width: 100%;
  }
  .input-field {
    input,textarea {
      border:1px solid #dadada !important;
    }
  }
  button {
    height: 44px;
    line-height: 44px;
    padding: 0 28px;
    color: #fff;
    font-size: 16px;
  }
}
.input-field.error {
  input,textarea {
    box-shadow:2px 3px 3px rgba(224, 16, 16, 0.5) !important;
  }
}
.input-field:not(.input-field-area) label {
  top:auto;
  bottom: 12px;
}
.select-wrapper input.select-dropdown {
  padding: 0 20px;
}
.select-wrapper span.caret {
  z-index: 5;
  right: 20px;
  top: 50%;
  transform:translateY(-50%);
  width: 14px;
  height: 8px;
  font-size: 0;
  opacity: 1;
  line-height: 0;
  background:url(../images/arrow.png) no-repeat;
}
.select-wrapper .dropdown-content li{
  color: #5d5d5d;
  font-size: 16px;
  min-height: 30px;
  span {
    color: #5d5d5d;
  }
}
.input-field i {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  @include fi;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.sixth-section .col:last-of-type {
  form {
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
  }
}
//---------------  foooter ----------------------//
.above-footer {
  height: 118px;
}
.footer {
  margin-top: -118px;
  margin-bottom: -30px;
  position: relative;
  z-index: 10;
  padding: 29px 0;
  background:#fff;
}
.foot__logo {
  max-width: 180px;
  display:block;
  margin-bottom: 5px;
}
.copyright {
  font-size: 14px;
  line-height: 16px;
  color: #8d8d8d;
}
.social {
  margin-top: 10px;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  li {
    float: left;
    margin-left: 27px;
    a {
      display: block;
      overflow: hidden;
      width: 43px;
      height: 43px;
      font-size: 14px;
      line-height: 45px;
      border-radius: 50%;
      border:1.5px solid #f5afc1;
      color: #f5aec0;
      text-align: center;
      @include anim;

      &:hover {
        color: #ff8ca8;
      }
    }
    &:first-of-type a {font-size: 22px;}
    &:last-of-type a {font-size: 16px;}
  }
}
// ------------------------ media -----------------------//
.icon-2 {font-size: 34px !important;}
.icon-3 {font-size: 32px !important;}
.icon-4 {font-size: 30px !important;}
.icon-10 {font-size: 32px !important;}
.icon-11 {font-size: 30px !important;}
.mobile .parallax img {display: block;}
.white-box-body {text-align: center;}
.white-box-body .widget-box > div {
  display: block;
  text-align: center;
  max-width: 100%;
  margin:0 auto 20px !important;
  &:last-of-type {margin: 0 !important;}
}
iframe {
  position: static !important;
    max-width: 100%;
    width: auto !important;
    margin-bottom: 20px;
  }
.ie .rw-words.rw-words-1 span:first-child {opacity: 1 !important;visibility: 1px !important;}
.white-box-body .input-field textarea {
  max-height: 120px;
  // overflow-y: auto;
}
#vk_groups  {
  display: inline-block !important;
  vertical-align: top !important;
}
#vk_groups  {margin-right: 35px !important;}
.fb_iframe_widget span {
  text-align: center !important;
}
.fb_iframe_widget iframe {display: inline-block;}
.white-box-body > div.fb_iframe_widget {
  margin-bottom: 0 !important;
}
.widget-box {
  font-size: 0;
  line-height: 0;
}
@media only screen and (max-width: 1700px) {
  .white-box {padding: 35px 90px;}
  .fourth-section-img-box {top:0}
  .first-section-slider {
    left: auto;
    right: 50%;
  }
  .third-section-img-box {
    left: 15px;
    right: 55%;
  }
  .third-section .iphone {
    max-width: 40%;
    right: -30px;
    bottom: -30px;
  }
  .share-box {left: 15px;bottom: 140px;}
  .first-section-top {
    margin-bottom: 50px;
  }
  .third-section,.fifth-section {padding: 50px 0;}
  .feed-section {margin-top: 90px;}
  .ipad-box span {display: none;}
  .container {
    width: 90%;
  }
  .first-section-top {
    padding: 15px;
    font-size: 25px;
    line-height: 32px;
  }
  .fourth-section {min-height: 550px;}
  .banner-caption__head {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 30px;
  }
  .rw-words.rw-words-1 span {
    font-size: 60px;
    line-height: 65px;
  }
  .rw-words.rw-words-1 {height: 60px;margin-bottom: 20px;}
  .banner-caption {
    font-size: 22px;
    line-height: 28px;
  }
  .heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .subheading {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
  }
  .content ul li:before, .list-box li:before {top: 9px;}
  .first-section-top {
    margin-top: -10px;
    padding: 15px;
    font-size: 18px;
    line-height: 24px;
  }
  .item-box__info span {
    font-size: 20px;
    line-height: 26px;
    min-height: 52px;
  }
  .list-box-with-icons ul li,
  .content ul li, .list-box li,
  .list-box-with-icons ul li,.item-box__info {
    font-size: 18px;
    line-height: 26px;
  }
  .third-section {padding-bottom: 0;}
  // .fourth-section {min-height: 440px;}
  .feed-heading {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 15px;
  }
  .first-section {padding-bottom: 70px;}
  .ipad-box-button span {font-size: 10px;max-height: 48px;overflow: hidden;}
}
@media only screen and (max-width: 1199px) {
  .third-section .iphone {
    max-width: 30%;
  }
  .content ul li:before, .list-box li:before {top: 7px;}
  .btn {
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    padding: 0 10px;
  }
  .header {
    padding: 10px 0;
    .btn {margin-top: 7px;}
  }
  .ipad-box-right {margin-right: 0;}
  .third-section .heading {margin-top: 0;}
  .chat-item__txt {width: 265px;}
  .share-box {display: none;}
  .fourth-section {
    min-height: 370px;
    padding-top: 70px;
  }
  .item-box___img ,.item-box___img .parallax-container{
    width: 180px;
    height: 180px;
  }
  .white-box {
    padding: 30px 50px;
  }
  .white-box__count {
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
  }
  .white-box__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .white-box__subheading,.list-box-with-icons ul li,
  .content ul li, .list-box li,
  .list-box-with-icons ul li,.item-box__info {
    font-size: 16px;
    line-height: 22px;
  }
  .above-footer {height: 95px;}
  .footer {
    margin-top: -95px;
    padding: 15px 0;
  }
  .social {margin-top: 16px;}
  .fifth-section__bottom {margin-top: 25px;}
  .first-section-slider {right: 43%;}
  .ipad-box-button {
    span {
      animation: colorChange 3s linear infinite 0s;
      &:nth-of-type(2) {;animation-delay: 1s;}
      &:last-of-type {animation-delay: 2s;}
    }
  }
}
@media only screen and (max-width: 992px) {
  .first-section {min-height: 1px;}
  .ipad-box-button span {font-size: 8px;}
  .white-box {
    height: auto !important;
  }
  .banner-caption {
    font-size: 20px;
    line-height: 26px;
  }
  .banner-caption__head {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .rw-words.rw-words-1 {height: 50px;}
  .rw-words.rw-words-1 span {
    font-size: 40px;
    line-height: 44px;
  }
  .first-section-top {margin-bottom: 30px;}
  .first-section-bottom .right {padding-top: 0;}
  .first-section {padding-bottom: 30px;}
  .second-section .ipad-box-right { width: 350px; }
  .ipad-box-button {bottom: 45px;}
  .third-section-img-box,.fourth-section-img-box,.first-section-slider {display: none;}
  .second-section .ipad-box-right {margin-top: 30px;}
  .fourth-section {
    padding-top: 30px;
    min-height: 1px;
  }
  .feed-section {margin-top: 30px;}
}
@media only screen and (max-width: 767px) {
  .banner-img {
    min-width: 700px;
    float: right;
  }
  .foot__logo {display: inline-block;}
  .social {
    float: none !important;
    display: inline-block;
  }
  .social li {
    margin: 0 10px;
  }
  .heading {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 601px) {
    .header {text-align: center;.col{text-align: center;}.btn {display: inline-block;}.logo {display: inline-block;}}
    .above-footer {height: 161px;}
    .footer {
      margin-top: -161px;
      text-align: center;
      .col {text-align: center;}
    }
}
@media only screen and (max-width: 599px) {
  .banner-caption {left: 0;}
  .logo {max-width: 60%;margin: 0;}
  .banner-caption {color: #fff;text-shadow:2px 2px 4px rgba(0,0,0,0.2)}
  .banner-caption__head {
    font-size: 28px;
    line-height: 32px;
    color: #fff;

  }
  .rw-words.rw-words-1 {height: 25px;}
  .rw-words.rw-words-1 span {
    padding: 0;
    font-size: 26px;
    line-height: 30px;
    &:before,&:after {display: none;}
  }
  .second-section .ipad-box-right {
    width: 290px;
  }
  .second-section {padding: 30px 0;}
  .ipad-box-button {left: 20px;right: 20px;bottom: 37px;}
  .ipad-box-button span {font-size: 6px;line-height: 10px;}
  .chat-item__txt {padding: 15px;}
  .chat-box {margin-bottom: 30px;}
  .feed-heading {font-size: 24px;line-height: 30px;}
  .fifth-section .heading span {padding: 0;}
  .item-box__info span {min-height: 1px;}
  .white-box {
    padding: 50px 15px 25px;
  }
  .white-box__count {top: 10px;left: 0;right: 0;margin: auto;}
}